<div class="my-12">
    <% if @results.present? %>
        <% @results.each do |service| %>
        <%= render service %><br>
        <% end %>
    <% else %>
        <p> search not found</p>
    <% end %>
    <%= link_to "Back to services", services_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

</div>

