<div class="my-12">
    <% if @results.present? %>
        <% @results.each do |service| %>
        <%= render service %><br>
        <% end %>
    <% else %>
        <p> search not found</p>
    <% end %>
</div>

