
<%# @images = [

] %>
<div class="block sm:hidden py-10 text-center">
  <div class="">
    <h2 class="md:text-4xl text-2xl font-semibold mb-4 md:mb-0  ">Unleashing Creativity:<br> A Nail Art Haven</h2>
    <p class=" p2">Enter our vibrate and inspiring space, designed to your imagination <br>and awaken your artistic spirit Feel the energy and passion that<br> radiates from our skilled nail artist, who are dedicated to turning<br> your nails dreams into reality</p>

  </div>



 <div data-controller="swiper" class="swiper w-full max-w-xl mx-auto mt-8">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= image_tag("sample1.jpg", class: "w-full h-64 object-cover") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag("sample2.jpg", class: "w-full h-64 object-cover") %>
    </div>
    <div class="swiper-slide">
      <%= image_tag("sample3.jpg", class: "w-full h-64 object-cover") %>
    </div>
  </div>
  
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>




</div>

