<h1 class="text-center">Account</h1>

<div class="flex justify-center"><%= button_to "Delete my account", settings_user_path, method: :delete, data: { turbo_confirm: "Are you sure? This cannot be undone." } %></div>
