/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 @import 'swiper/swiper-bundle.min.css';

body{
    /* background-color: #f6e6d6 ; banner color */
    background-color:  #f8efe8 
}
.image-banner{
    background-color: #f6e6d6 ;
    background-image: url('banner2.png');
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;
}
.universal-color{
    background-color: #f6e6d6;
}
.appointment-hand{
    background-image: url('one-hand-2.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 90%;
    background-position: cover;
    /* background-color: white; */


}
.image{
    height: 100%;
    width: 100%;
}