<div class=" sm:flex  gap-10  justify-center mx-auto bg-black text-white mt-2 py-10">
  <div>
    <p>Logo</p>
    <p>At GlamNails,We believe that your nails are more <br> than just an accesory, they are canvas for self<br> expression and ultimate glamour</p>
    <div>
      <ul>
        <li>ig</li>
        <li>twitter</li>
        <li>fb</li>
        <li>in</li>


        
      </ul>
    </div>
  </div>
    <ul class="flex gap-10">
        <div>
          <li>Information</li>
        
            <ul>
                <li>Home</li>
                <li>About Us</li>
                <li>Services</li>
                <li>Our Team</li>
                <li>Portfolio</li>


            </ul>
        </div>   
        
        <div>
         <li>Opening Hours</li>
          <ul>
             <li>Monday</li>
            <li>Tuesday</li>
            <li>Wednesday</li>


          </ul>
        </div>
        <li>Contact</li>


    </ul>

</div>