<div class=" p-10">
    <ul class=" text-gray-600 text-lg font-light flex justify-center gap-10">
            <h1 class="absolute left-10">Logo</h1>

        <li>HOME</li>
        <li>AbOUT</li>
        <li>PAGES</li>
        <li>PORTFOLIO</li>
        <li>CONTACT US</li>
            <li>IG</li>
            <li>FB</li>
            <li>TIK</li>

            <li class=" text-white bg-black py-1 px-3 ">BOOK NOW</li>










    </ul>
</div>